<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src='/js/bootstrap.js'></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/square.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/weather-icons.min.css' />
  </head>
  <body>
    <div class='container'>
      <% include templates/headers.ejs %>
      <div id='content'><!-- zmiana diva w zaleznosci od buttona -->
        <h2 align='center'>Choose option</h2>
        <br/></br>
        <div class='row'>
        <div id='lights'><button type='button' id='lightsBtn' class='btn btn-warning btn-lg col-sm-4'>Power</button></div>
        <div id='sensors'><button type='button' id='sensorsBtn' class='btn btn-warning btn-lg col-sm-4'>Sensors</button></div>
        <div id='temperature'><button type='button' id='temperatureBtn' class='btn btn-warning btn-lg col-sm-4'>Temperature</button></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var statuses = [];

    $('#lightsBtn').click(function(){
        renderIt('lightsControll', 'Power Controll');
      }
    );

    $('#sensorsBtn').click(function(){
        renderIt('sensorsControll', 'Sensors Controll');
      }
    );

    $('#temperatureBtn').click(function(){
        renderIt('temperatureControll', 'Temperature Controll');
      }
    );

    function renderIt(where, title){
      $.ajax({
                type : 'POST',
                url : 'readStatuses',
                success: function(result){
                    statuses = result;
                    $.ajax({
                      type : 'POST',
                      url : where,
                      success: function(result){
                        $('#content').html(result);
                        $('h3.text-muted').text(title);
                      }
                    })
                }
        });
    };

  </script>
</html>