.square {
    width: 20vw;
    height: 9vw;
    border: 3px solid #fff;   
    border-radius: 10px; 
    margin-bottom: 5px;
}
.square h3 {
    color: #fff;
}
.glyphicon {
    font-size: 40px;
}
.confirm {
    font-size: 20px;
}
.delete {
    font-size: 20px;
    margin-left: 15px;
}
.red {
    color: red; 
}
.txt {
    margin-top: 5px;
}
.fa-lightbulb-o {
    font-size: 8em !important;
    color: #fff;
    margin-top: 2px;
}
.fa-times {
    font-size: 8em !important;
    color: #fff;
    margin-top: 2px;
}
.fa-plug {
    font-size: 6em !important;
    color: #fff;
    margin-top: 15px;
}
.fa-thermometer-2{
    font-size: 8em !important;
    color: #fff;
    margin-top: 5px;

}
.color {
    /*font-size: 8em !important;*/
    color: #ffff00 !important;
}
.square-bulb {
    width: 20vw;
    height: 9vw;
    border: 3px solid #fff;   
    border-radius: 10px;
    margin-bottom: 5px;
}
.square-bulb h3 {
    color: #fff;
}
.square-bulb p {
    margin-top: 7px;/*14px;*/
}
.square-rec {
    width: 20vw;
    height: 4vw;
    border: 3px solid #fff;   
    border-radius: 10px; 
    margin-bottom: 5px;
}
.square-rec .glyphicon {
    margin-top: 6px;
}
.square-rec h3 {
    margin-top: 12px;
    color: #fff;
}
.hide{
    display: none;
}
.show{
    display:show;
}
.space {
    margin-left: 10px;
}
.bigger {
    height: 12vw !important;
}
.pullDown {
    margin-top: 35px;
}

.pullDownD {
    margin-top: 55px;
}

.pullUp {
    margin-top: 15px;
    margin-left: -10px;
}
.square-temp {
    width: 20vw;
    height: 18vw;
    border: 3px solid #fff;   
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}